/node_modules
/public/hot
/resources/views/welcome.blade.php
/storage/*.key
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.lock
/package-lock.json
.problems
.roadmap
.vuepress
chunks
vendor